<sidebar [navItems]="navItems"
         [(activeItem)]="activeNavItem"
         (onChange)="navChanged($event)"
         [(isOpen)]="sidebarOpen">
</sidebar>
<div id="main" [ngClass]="{'sidebar-open': sidebarOpen}">
  <div class="container-fluid col-12 header-col row">
    <app-header [(sidebarOpen)]="sidebarOpen" [useSidebar]="useSidebar"></app-header>
  </div>
  <div class="main-container" [ngClass]="{'has-sidebar': useSidebar}">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <div *ngIf="sidebarOpen" (click)="closeSidebar()" class="sidebar-cover"></div>
</div>

<!-- main app container -->
